.mobie {
  display: none;
}

@media only screen and (max-width: 63.9375em) {
  .mobie {
    position: fixed;
    z-index: 300;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    border: 1px solid #545457;
    background-color: #141516;
  }

  .mobie__menuBtn {
    border: none;
    background-color: transparent;
  }

  .hr-mobie {
    display: block;
  }
}